<p class="link-action">
  <%= link_to '新規作成', new_lead_path %>
  <%= link_to 'インポート', new_import_leads_path %>
  <%= link_to 'エクスポート', leads_path(format: 'csv') %>
</p>

<%= render partial: 'index_table', locals: { leads: @leads } %>
