/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "try";
@import "variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker";
@import "font-awesome-sprockets";
@import "font-awesome";

/* simple_form */

// Don't zoom up on ios safari
@media (max-width: $screen-xs-max) {
  .form-inputs {
    input, textarea, select {
      font-size: 16px;
    }
  }
}

.col-label {
  @extend .col-sm-3;
}

.col-wrapper {
  @extend .col-sm-9;
}

.col-wrapper-nolabel {
  @extend .col-sm-offset-3;
  @extend .col-sm-9;
}

.col-input {
  @extend .col-sm-8;
}

.col-error {
  @extend .col-sm-4;
}

.col-hint {
  @extend .col-sm-12;
}

/* customized bootstrap */

blockquote {
  padding: 5px 10px;
}

.page-header {
  margin: 0 0 10px 0;
  h1, h2, h3, h4, h5 {
    margin: 0;
    small { padding-left: 10px; }
  }
}

.navbar-right {
  padding-right: 10px;
}

/* my style */

body {
  padding-top: 70px;
}

footer {
  margin-top: 20px;
  border-top: 1px solid $gray-lighter;
  padding: 5px 10px;
  color: $gray-light;
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

thead, .td-date {
  white-space: nowrap;
}

@mixin horizontal-links {
  a:not(:last-child) {
    padding-right: 10px;
    border-right: solid 1px $gray-lighter;
    margin-right: 5px;
  }
}

.td-action {
  white-space: nowrap;
  @include horizontal-links;
}

#logo {
  font-size: 1.7em;
  letter-spacing: -1px;
  font-weight: bold;
}

.link-action {
  font-size: 1.2em;
  @include horizontal-links;
}

.timeline-font {
  font-size: 1.1em;
}
